body {
  background-color: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.poster {
  position: relative;
  transition: transform 0.2s;
  height: 432px;
  width: 330px;
}

.poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.poster:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}



.movie-details {
  margin-left: 50;
  padding: 20px;
  border: 2px solid red;
}